li {
  display: inline-block;
  right: 0;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

ul {
  background-color: #dddddd;
  list-style-type: none;
  margin: 0;
  padding: 0;
}